<div class="create-object-container">
  <h2 mat-dialog-title>
    Create {{ data.title }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div *ngFor="let param of parameters" class="form-field">
      <label>{{ param.title }}</label>

      <!-- Если есть options, отображаем mat-select -->
      <mat-form-field *ngIf="param.type === IType.SELECT; else textInput">
        <mat-select [formControlName]="param.title" [placeholder]="param.placeholder">
          <mat-option *ngFor="let option of param.options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Ввод текста или числа, если options нет -->
      <ng-template #textInput>
        <input matInput
          [type]="getInputType(param.type)"
          [formControlName]="param.title"
          [placeholder]="param.placeholder  || 'Enter ' + param.title"
        />
      </ng-template>

      <div *ngIf="form.get(param.title)?.invalid && form.get(param.title)?.dirty" class="error">
        {{ param.title }} is required.
      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-button (click)="close()">
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Create
      </button>
    </div>

  </form>

</div>
