<header id="title">
  <mat-toolbar color="primary">
    <!-- Левая часть с названием -->
    <span>IS Lab</span>

    <span class="spacer"></span>

    <!-- Средняя часть с навигацией -->
    <div *ngIf="userService.user != undefined">
      <button mat-button routerLink="/">Главная</button>
      <button mat-button routerLink="/tickets">Билеты</button>
      <button mat-button routerLink="/events">Мероприятия</button>
      <button mat-button routerLink="/venues">Площадки</button>
    </div>
    <!-- Правая часть с логином пользователя или кнопкой авторизации -->
    <span class="spacer"></span>

    <button mat-button *ngIf="userService.user == undefined" routerLink="/authorization">Войти</button>
    <div *ngIf="userService.user != undefined" [matMenuTriggerFor]="userMenu" class="user-menu">
      <button mat-button>{{ userService.user.login }}</button>
    </div>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">Выйти</button>
    </mat-menu>
  </mat-toolbar>

</header>

<router-outlet />
