<div class="table-container">
  <table mat-table [dataSource]="data" class="mat-elevation-z8" matSort>
    <!-- Динамические колонки -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef>
        <div class="filter">
          <label>{{ column.title }}</label>
          <input *ngIf="column.filterType == FilterType.STRING" matInput [placeholder]="'Filter by ' + column.title"
                 [formControl]="filters[column.key]" />
          <input *ngIf="column.filterType == FilterType.NUMBER" matInput placeholder="e.g. 10-20"
                 [formControl]="filters[column.key]" />
        </div>
      </th>
      <!-- TODO тут был mat-row... -->
      <td mat-cell *matCellDef="let row">
        <!-- Если строка в режиме редактирования -->
        <div *ngIf="isEditing && column.key != 'actions'">
          <input matInput [(ngModel)]="row[column.key]" />
        </div>
        <!-- Если строка не в режиме редактирования -->
        <div *ngIf="!isEditing && column.key != 'actions'">
          {{ row[column.key] }}
        </div>

        <!-- Если строка в режиме редактирования -->
        <div *ngIf="isEditing && column.key == 'actions'">
          <button mat-button color="primary" (click)="saveRow()">Save</button>
          <button mat-button color="warn" (click)="toggleEdit(row)">Cancel</button>
        </div>
        <!-- Если строка не в режиме редактирования -->
        <div *ngIf="!isEditing && column.key == 'actions'">
          <button mat-button *ngIf="canEdit(row)" (click)="toggleEdit(row)">Edit</button>
          <button mat-button color="warn" *ngIf="canEdit(row)" (click)="deleteRow(row)">Delete</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
